/* reference source:
http://www.hongkiat.com/blog/css-snippets-for-designers/
*/
/* css reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
button {
  outline: none;
}
html { height: 101%; }
body { 
  font-size: 62.5%; 
  line-height: 1; 
  font-family: Arial, Tahoma, sans-serif; 
  background-color: #454545;
}
 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
 
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 
 
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }
 
p { font-size: 1.2em; line-height: 1.0em; color: #333; margin: 0px !important; }

.VAAlign {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
a {
  text-decoration: none;
  color: inherit;
}
/* classic CSS clearfix */

.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
  
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
/* Disable highlights */
.disableBlacken {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* cross-browser transparency */
.transparent {
    filter: alpha(opacity=50); /* internet explorer */
    -khtml-opacity: 0.5;      /* khtml, old safari */
    -moz-opacity: 0.5;       /* mozilla, netscape */
    opacity: 0.5;           /* fx, safari, opera */
}
/* general media queries */
/* MAIN FRAME */

.wrapper {
  width: 100%;
  min-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}
.header_bar , 
.logo_ctner  ,
.mid_hb_ctn ,
.main_pg_container ,
.sideMenu_bar ,
.main_pg_content ,
.preface_pgc {
  float: left;
  overflow: hidden;
}
.logo_ctner , .mid_hb_ctn , .log_outMn , .wrapper_rghtB {
  height: 100%;
}
.logo_ctner , 
.sideMenu_bar {
  position: fixed;
}
.logo_ctner {
  height: 29px;
  background-color: #000;
}
.header_bar {
  height: 30px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border-bottom: 1px solid #454545;
}
.logo_ctner {
  width: 25%;
  max-width: 260px;
  text-align: center;
}
.logo_ctner img {
  height: 100%;
}
.mid_hb_ctn , .log_outMn {
  font-size: 15px;
}
.mid_hb_ctn {
  width: calc(100% - 100px);
  line-height: 30px;
}
.log_outMn {
  width: 100px;
  float: right;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.log_outMn:hover {
  background-color: #4D4D4D;
}
.main_pg_container {
  width: 100%;
  height: calc(100% - 30px);
}
.sideMenu_bar {
  width: 25%;
  max-width: 260px;
  background-color: #000;
  min-height: 100vh;
}
.main_pg_content {
  min-height: 100vh;
  padding: 30px;
  background-color: #303030;
  color: #fff;
  font-size: 15px;
}
.sideMenu_bar a {
  width: 60%;
  height: 30px;
  border: 1px solid #fff;
  border-right: 0;
  border-bottom-color: #BABABA;
  border-top-color: #808080;
  border-left-color: #3B3B3B;
  float: right;
  font-size: 18px;
  color: #fff !important;
  text-transform: uppercase;
  display: block;
  line-height: 30px;
  padding-left: 30px;
  cursor: pointer;
  text-shadow: 1px 1px 1px #636363;
}
.sideMenu_bar a:hover {
  border-bottom-color: #808080;
  border-top-color: #BABABA;
  border-left-color: #8A8A8A;
  text-decoration: none;
  background-color: #363636;
}
.wrapper_rghtB , .main_pg_content {
  width: 75%;
  min-width: calc(100% - 260px);
  float: right;
  overflow: hidden;
}
.preface_pgc {
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
} 
.fxRtlc {
  color: #fff;
  display: block;
  float: left;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 30px;
}
.spc_searchEg {
  float: right;
  overflow-y: hidden;
  height: 30px;
}
.spc_searchEg button[type='submit'] , 
.spc_searchEg input[name='_typeVal'] {
  height: 100%;
  display: block;
  float: right;
  color: #000;
  outline: none;
}
.spc_searchEg button[type='submit'] {
  width: 30px;
}
.spc_searchEg input[name='_typeVal'] {
  line-height: 30px;
  padding-left: 10px;
  width: 200px;
}
.slct_r {
  display: block;
  margin-left: 3px !important;
  outline: none;
}
.slct_r:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #C2C2C2;
  border: 1px solid #383838;
  position: relative;
  outline: none;

}
.slct_r:checked:before {
  display: block;
}
.slct_r:before {
  content:"";
  display: none;
  width: 16px;
  height: 16px;
  background-color: #383838;
  position: absolute;
  z-index: 3;
  top: 8px;
  left: 7px;
}
._search_rcmd {
  position: absolute;
  right: 30px;
  top: 100px;
  height: auto;
  min-height: 30px;
  border: 1px solid;
  color: #fff;
  background-color: #787878;
  overflow: hidden;
}
.ttl_rcd {
  height: 20px;
  font-size: 12 px;
  line-height: 20px;
  width: 100%;
  border-bottom: 1px solid #4F4F4F;
  background-color: #3B3B3B;
  padding-left: 10px;
  text-transform: uppercase;
}
.ctn_srcd_wrapper {
  width: 100%;
  float: left;
}
.ctn_srcd {
  font-size: 15px;
  padding-left: 15px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #fff;
  display: block;
}
.ctn_srcd:last-child {
  border: none;
}
.col_ctSr {
  display: block;
  float: left;
  height: 100%;
  margin-right: 10px;
}

.col_ctSr[type="c1"] {
  width: 55px;
}
.col_ctSr[type="c2"] {
  width: 180px;
}
.col_ctSr[type="c3"] {
  min-width: 80px;
}
._search_rcmd {
  display: none;
}





/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
}
 
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}
 
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen and (max-device-width : 768px) and (max-device-width : 1024px) {
  
}
 
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
}
 
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
}
@media only screen and (max-width : 768px) {

}
@media only screen and (min-width:768px) and (max-width : 900px) {

}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  /* Styles */
}
 
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}
 
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {
  /* Styles */

